<header>
    <nav>
        <a href="/"><h1>Mybrary</h1></a> 
        <div>
            <ul>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">Add Book</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/authors/new">Add Author</a></li>
            </ul>
        </div>
    </nav>
</header>